<html>
	<head>
		<meta charset="UTF-8">
		<title> Register </title>
	</head>
  <style>
    .button {
			/* #4CAF50 for green, #F44336 for red */
			/* button-color: RED */
      background-color: #F44336;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
	<body></br></br></br></br></br>
		<div align="center">
		<div align="center" class="border">
			<div class="header">
				<h1 class="word">Register</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('register') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<input id="FirstName" name="FirstName" type="text" placeholder="First Name" class="textbox"/></br></br>
					<input id="LastName" name="LastName" type="text" placeholder="Last Name" class="textbox"/></br></br>
					<input id="CreditCard" name="CreditCard" type="text" placeholder="Enter Your Credit Card" class="textbox"/></br></br>
					<input type="submit" class="button" value="Sign Up"></br>
				</form>
			</h2>
		</div>
		</div>
	</body>
</html>
